@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,800;1,400;1,800&family=Merriweather+Sans:ital,wght@0,400;0,700;1,300;1,800&display=swap');
:root {
  --light: hsl(250, 13%, 93%);
  --grey1: hsl(250, 13%, 84%);
  --grey2: hsl(250, 13%, 76%);
  --grey3: hsl(250, 13%, 67%);
  --grey4: hsl(250, 13%, 59%);
  --grey5: hsl(250, 13%, 51%);
  --grey6: hsl(250, 13%, 43%);
  --grey7: hsl(250, 13%, 34%);
  --grey8: hsl(250, 13%, 26%);
  --grey9: hsl(250, 13%, 18%);
  --dark: hsl(250, 13%, 10%);
  --ltred: hsl(0, 80%, 70%);
  --red: hsl(0, 80%, 50%);
  --dkred: hsl(0, 80%, 30%);
  --ltorange: hsl(25, 80%, 70%);
  --ltyellow: hsl(48, 85%, 75%);
  --ltlime: hsl(95, 70%, 70%);
  --ltgreen: hsl(140, 65%, 65%);
  --ltteal: hsl(170, 55%, 70%);
  --teal: hsl(170, 65%, 50%);
  --dkteal: hsl(170, 65%, 30%);
  --ltblue: hsl(210, 70%, 70%);
  --blue: hsl(210, 70%, 40%);
  --dkblue: hsl(210, 70%, 25%);
  --ltpurple: hsl(260, 80%, 75%);
  --ltpink: hsl(310, 65%, 75%);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  padding-left: 2ch;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 70ch;
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--dkblue);
}
main {
  padding: 1rem;
  max-inline-size: 100ch;
  margin-inline-start: 4ch;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--grey2);
  max-inline-size: 90ch;
  margin-inline: 4ch;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  max-inline-size: 82ch;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: var(--dark2);
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  font-size: 1em;
}
.home :link:not(:hover), .home :visited:not(:hover) {
  text-decoration: none;
  color: var(--dark);
}

/* Nav */
nav ul {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 800;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8em;
  color: var(--dark);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.2em;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.2em;
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--ltteal);
  color: var(--white);
  border-color: var(--teal);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em; /* 3px /12 */
  text-shadow: var(--teal) 0 0 2px;
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* code highlighting */
code[class*="language-"], pre[class*="language-"] {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: var(--grey9);
	color: var(--grey2);
}
pre[class*="language-"] {
	padding: 1.5em 1ch;
	margin: .5em 0;
	overflow: auto;
}
:not(pre) > code {
	padding: .2em;
  border-radius: .3em;
  background-color: var(--grey1);
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: var(--grey5);
}
.token.punctuation {
	color: var(--light);
}
.token.namespace {
	opacity: .7;
}
.token.operator, .token.boolean {
	color: var(--ltred);
}
.token.property {
	color: var(--ltorange);
}
.token.tag, .token.number {
	color: var(--ltblue);
}
.token.string {
	color: var(--ltorange);
}
.token.selector {
	color: var(--ltpurple);
}
.token.attr-name {
	color: var(--ltorange);
}
.token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: var(--ltteal);
}
.token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit {
	color: var(--ltgreen);
}
.token.statement, .token.regex, .token.atrule {
	color: var(--ltteal);
}
.token.placeholder, .token.variable {
	color: var(--ltblue);
}
.token.deleted {
	text-decoration: line-through;
}
.token.inserted {
	border-bottom: 1px dotted var(--light);
	text-decoration: none;
}
.token.italic {
	font-style: italic;
}
.token.important, .token.bold {
	font-weight: bold;
}
.token.important {
	color: var(--ltred);
}
.token.entity {
	cursor: help;
}
pre > code.highlight {
	outline: 0.4em solid var(--ltred);
	outline-offset: .4em;
}
