code[class*="language-"], pre[class*="language-"] {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: var(--grey9);
	color: var(--grey2);
}
pre[class*="language-"] {
	padding: 1.5em 1ch;
	margin: .5em 0;
	overflow: auto;
}
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: var(--grey5);
}
.token.punctuation {
	color: var(--light);
}
.token.namespace {
	opacity: .7;
}
.token.operator, .token.boolean {
	color: var(--ltred);
}
.token.property {
	color: var(--ltorange);
}
.token.tag, .token.number {
	color: var(--ltblue);
}
.token.string {
	color: var(--ltorange);
}
.token.selector {
	color: var(--ltpurple);
}
.token.attr-name {
	color: var(--ltorange);
}
.token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: var(--ltteal);
}
.token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit {
	color: var(--ltgreen);
}
.token.statement, .token.regex, .token.atrule {
	color: var(--ltteal);
}
.token.placeholder, .token.variable {
	color: var(--ltblue);
}
.token.deleted {
	text-decoration: line-through;
}
.token.inserted {
	border-bottom: 1px dotted var(--light);
	text-decoration: none;
}
.token.italic {
	font-style: italic;
}
.token.important, .token.bold {
	font-weight: bold;
}
.token.important {
	color: var(--ltred);
}
.token.entity {
	cursor: help;
}
pre > code.highlight {
	outline: 0.4em solid var(--ltred);
	outline-offset: .4em;
}
