:root {
  --basehue: 250;
  --dark0: hsl(var(--basehue), 10%, 10%);
  --dark1: hsl(var(--basehue), 10%, 25%);
  --dark2: hsl(var(--basehue), 10%, 40%);
  --light2: hsl(var(--basehue), 10%, 55%);
  --light1: hsl(var(--basehue), 10%, 70%);
  --light0: hsl(var(--basehue), 10%, 85%);
  --orange: hsl(25, 80%, 60%);
  --lightorange: hsl(30, 65%, 70%);
  --red: hsl(5, 70%, 60%);
  --blue: hsl(220, 70%, 45%);
  --black: hsl(0, 0%, 0%);
  --teal: hsl(175, 80%, 70%);
  --sky: hsl(210, 80%, 70%);
  --purple: hsl(265, 70%, 65%);
  --green: hsl(140, 60%, 65%);
}

code[class*="language-"], pre[class*="language-"] {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: var(--dark1);
	color: var(--light0);
}
pre[class*="language-"] {
	padding: 1.5em 1ch;
	margin: .5em 0;
	overflow: auto;
}
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: var(--light2);
}
.token.punctuation {
	color: var(--light0);
}
.token.namespace {
	opacity: .7;
}
.token.operator, .token.boolean {
	color: var(--red);
}
.token.property {
	color: var(--lightorange);
}
.token.tag, .token.number {
	color: var(--sky);
}
.token.string {
	color: var(--lightorange);
}
.token.selector {
	color: var(--purple);
}
.token.attr-name {
	color: var(--orange);
}
.token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: var(--teal);
}
.token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit {
	color: var(--green);
}
.token.statement, .token.regex, .token.atrule {
	color: var(--teal);
}
.token.placeholder, .token.variable {
	color: var(--sky);
}
.token.deleted {
	text-decoration: line-through;
}
.token.inserted {
	border-bottom: 1px dotted var(--light0);
	text-decoration: none;
}
.token.italic {
	font-style: italic;
}
.token.important, .token.bold {
	font-weight: bold;
}
.token.important {
	color: var(--red);
}
.token.entity {
	cursor: help;
}
pre > code.highlight {
	outline: 0.4em solid var(--red);
	outline-offset: .4em;
}
