---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<header>
  {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
  <nav>
    <ul>
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
  <hgroup>
    <h1>hi, i'm Mr. Log!</h1>
    <p>the Mr. Dave blog</p>
  </hgroup>
</header>
<main>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}</main>