/* mr. dave's own self-hosted type */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/fonts/Inter-Light-subset.woff2") format("woff2"), url("public/fonts/Inter-subset.woff") format("woff");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/fonts/Inter-Bold-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-weight: 700;
}

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond"), url("/fonts/EBGaramond-Regular-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-weight: 400;
}

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond"), url("/fonts/EBGaramond-Italic-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond"), url("/fonts/EBGaramond-ExtraBold-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-weight: 800;
}

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond"), url("/fonts/EBGaramond-BoldItalic-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("/fonts/SourceCodePro-SemiBoldItalic-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-weight: 400;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("/fonts/SourceCodePro-LightItalic-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-style: "italic";
  font-weight: 300;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("/fonts/SourceCodePro-Bold-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-weight: 700;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("/fonts/SourceCodePro-SemiBoldItalic-subset.woff2") format("woff2");
  unicode-range: U+20-7E,U+A9,U+E9;
  font-style: "italic";
  font-weight: 600;
}

:root {
  /* mr. dave's aftermarket colors */
  --light: hsl(250deg 13% 96%);
  --grey1: hsl(250deg 13% 88%);
  --grey2: hsl(250deg 13% 80%);
  --grey3: hsl(250deg 13% 72%);
  --grey4: hsl(250deg 13% 66%);
  --grey5: hsl(250deg 13% 55%);
  --grey6: hsl(250deg 13% 40%);
  --grey7: hsl(250deg 13% 24%);
  --grey8: hsl(250deg 13% 18%);
  --grey9: hsl(250deg 13% 12%);
  --dark: hsl(250deg 13% 8%);
  --ltred: hsl(0deg 70% 80%);
  --red: hsl(0deg 80% 50%);
  --dkred: hsl(0deg 80% 30%);
  --ltorange: hsl(25deg 80% 80%);
  --ltbrown: hsl(25deg 35% 65%);
  --ltyellow: hsl(48deg 85% 75%);
  --ltlime: hsl(95deg 60% 80%);
  --ltgreen: hsl(140deg 65% 75%);
  --ltteal: hsl(170deg 65% 80%);
  --teal: hsl(170deg 65% 50%);
  --dkteal: hsl(170deg 65% 30%);
  --ltblue: hsl(220deg 70% 70%);
  --blue: hsl(220deg 70% 40%);
  --dkblue: hsl(220deg 70% 25%);
  --ltpurple: hsl(250deg 80% 75%);
  --purple: hsl(250deg 60% 55%);
  --dkpurple: hsl(260deg 65% 20%);
  --ltpink: hsl(310deg 65% 75%);

  /* theme variable assignments */
  --color-border-accent: var(--light);
  --color-gray-50: var(--grey2);
  --color-gray-90: var(--grey1);
  --color-body-background: var(--grey8);
  --color-header-background: var(--dark);
  --color-footer-background: var(--grey9);
  --color-text: var(--grey1);
  --color-text-link: var(--ltblue);
  --color-text-link-active: var(--grey3);
  --color-text-link-visited: var(--ltpurple);
  --color-ui-glow: hsl(250deg 80% 75% / 50%);
  --size-0: 0.382rem;
  --size-1: 0.618rem;
  --size-2: 0.786rem;
  --size-3: 1.000rem;
  --size-4: 1.272rem;
  --size-5: 1.618rem;
  --size-6: 2.618rem;
  --size-7: 4.236rem;
  --syntax-tab-size: 2;
  --font-family-serif: "EB Garamond", "georgia", "Times New Roman", "times", serif;
  --font-family-sans: "Inter", "Segoe UI", "helvetica", "tahoma", "geneva", "verdana", system-ui, sans-serif;
  --font-family-mono: "Source Code Pro", "consolas", "menlo", "monaco", "andale mono wt", "andale mono", "lucida console", "lucida sans typewriter", "dejavu sans mono","bitstream vera sans mono", "liberation mono", "nimbus mono l", "courier new", "courier", monospace;

  font-family: var(--font-family-sans);
  color: var(--color-text);
  font-size: 112.5%;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

svg, svg * {
  max-width: initial;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  background-color: var(--color-body-background);
}

header {
  /* layout */
  display: flex;
  align-items: center;
  margin-block-end: var(--size-3);

  /* appearance */
  text-decoration: none;
  font-style: normal;
  font-size: 1rem;
  background: var(--color-header-background);
  box-shadow: 0 1px 2px var(--color-ui-glow), 
  0 2px 4px var(--color-ui-glow), 
  0 4px 8px var(--color-ui-glow), 
  0 8px 16px var(--color-ui-glow);
  border-block-end: 1px dashed var(--color-border-accent);
} 

header>nav {
  flex-grow: 999;
}

header>* {
  margin: var(--size-2) var(--size-3);
}

main {
  inline-size: clamp(60vw, 80ch, 90vw);
  flex-grow: 9;
  margin: 0 auto var(--size-4);
}

footer {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* colors */
  background: var(--color-footer-background);
  box-shadow: 1px 0 2px var(--color-ui-glow), 
  2px 0 4px var(--color-ui-glow), 
  4px 0 8px var(--color-ui-glow), 
  8px 0 16px var(--color-ui-glow);
  border-block-start: 1px dashed var(--color-border-accent);
  margin-block-start: var(--size-2);
}

footer>* {
  margin-block: var(--size-2);
  margin-inline: var(--size-1)
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main>*+*, main>article>*+*, main>section>*+* {
  margin-block-start: 1em;
}

aside {
  float: right;
  max-width: 40ch;
  margin: var(--size-2);
  padding: var(--size-3);
  background: hsla(250deg 30% 20% / 80%);
}

main :is(h1,h2,h3,h4,hgroup) {
  padding-inline-start: -3em;
  margin-inline: auto;
}

main ul, main ol {
  padding-inline-start: 5ch;
}

main p, main ul li, main ol li {
  line-height: var(--size-5);
  font-size: var(--size-3);
}

main aside {
  border-radius: 0.5ch;
  border-block: 1px dashed var(--color-border-accent)
}

main aside>p, main aside>ul{
  font-size: var(--size-2);
  opacity: 0.9;
}

h1,h2,h3,h4,.home-link {
  font-family: var(--font-family-serif);
  font-weight: 200;
}

small {
  font-size: var(--size-2);
}

h1.site-headline {
  font-size: var(--size-7);
}

h1 {
  font-size: var(--size-6);
}

h2 {
  font-size: var(--size-5);
}

dd {
  padding-inline-start: 3ch;
}

a[href] {
  color: var(--color-text-link);
}

a[href]:visited {
  color: var(--color-text-link-visited);
}

a[href]:hover,
a[href]:active {
  color: var(--color-text-link-active);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--color-border-accent);
  padding: 1em 0;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

code, pre {
  word-break: break-all;
  font-family: var(--font-family-mono);
}

p code {
  font-size: var(--size-2);
  padding: var(--size-0);
  background: var(--grey9);
  border-radius: 0.6rem;
}

pre:not([class*="language-"]) {
  margin: .5em 0;
  line-height: var(--size-4);
  tab-size: var(--syntax-tab-size);
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

/* Header */
.home-link {
  font-size: 1em; /* 16px /16 */
  font-weight: 700;
}

.home-link:link:not(:hover) {
  text-decoration: none;
}

i.whisper {
  opacity: 0.9;
  font-size: var(--size-2)
}

/* Nav */
body>header>nav>ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

body>header>nav li+li  {
  display: inline-block;
  margin-inline-start: 1em;
}

header nav ul li a[href]:not(:hover) {
  text-decoration: none;
}

header nav ul li a[href][aria-current="page"] {
  text-decoration: underline;
}

ul.h-list {
  list-style: none;
}

ul.h-list li {
  list-style: none;
  display: inline-block;
}

ul.h-list li+li {
  margin-inline-start: var(--size-2);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 1em;
}

.postlist-item::before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}

.postlist-date,
.postlist-item::before {
  color: var(--color-gray-90);
}

.postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: .25em;
  padding-right: .5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags list */
main .post-metadata {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-1);
  font-size: var(--size-2);
  list-style: none;
  padding: 0;
  max-width: 80rem;
}

.post-metadata>*+* {
  margin-inline-start: 0.618em;
}

pre[class*="language-diff-"] {
  --eleventy-code-padding: 1.25rem;

  padding-left: var(--eleventy-code-padding);
  padding-right: var(--eleventy-code-padding);
}

.token.deleted {
  background-color: hsl(0deg 51% 37%);
  color: inherit;
}

.token.inserted {
  background-color: hsl(126deg 31% 39%);
  color: inherit;
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.token.prefix.inserted,
.token.prefix.deleted {
  width: var(--eleventy-code-padding);
  background-color: rgb(0 0 0 / 20%);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
  display: block;
  margin-left: calc(-1 * var(--eleventy-code-padding));
  margin-right: calc(-1 * var(--eleventy-code-padding));
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}
