---
layout: layouts/home.njk
title: the Mr. Dave web log
eleventyNavigation:
  key: blog
  order: 2
---

<hgroup>
  <h1>hi, i'm Mr. Log!</h1>
  <i class="whisper">(Mr. Dave's web log)</i>
</hgroup>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}