---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
title: hi, i'm Mr. Dave!
---

<section>
  {% set postsCount = collections.posts | length %}
  {% set latestPostsCount = postsCount | min(3) %}
  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = postsCount %}
  {% include "postslist.njk" %}
  {% if postsCount > 3 %}
    <p>more posts can be found in
      <a href="/blog/">the archive</a>.</p>
  {% endif %}
</section>
{% if eleventy.env.runMode === "serve" %}{# List every content page in the project #}
  <!-- {%- for entry in collections.all %}
      * {{ entry.url }}
  {%- endfor %} -->
{% endif %}