---
permalink: /tags/
layout: layouts/page.njk
title: most tags
---

<ul>
  {% for tag in collections.all | getAllTags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li>
      <a href="{{ tagUrl }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>