<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% if eleventy.env.runMode === "serve" %}
      {# External files (best with local dev server live reload) #}
      <link rel="stylesheet" href="/css/screen.css">
      <link rel="stylesheet" href="/css/code.css">
    {% else %}
      {# Inlined (fastest site performance in production) #}
      <style>
        {% include "public/css/screen.css" %}
        {% include "public/css/code.css" %}
      </style>
    {% endif %}
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    <header>
      <a href="/" class="home-link">{{ metadata.title }}</a>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav>
        <p class="visually-hidden">Top level navigation menu</p>
        <ul>
          {%- for entry in collections.all | eleventyNavigation %}
            <li>
              <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>
    <main id="skip">
      {{ content | safe }}
    </main>
    <footer>
      <small>
        <a href="https://hachyderm.io/@hiimmrdave" rel="me">mastodon</a>
        | found an error?
        <a href="https://github.com/hiimmrdave/hiimmrdavedotcom/blob/main/{{ page.inputPath }}">submit a correction</a>
      </small>
      <small>&#169; 2023 Mr. Dave</small>
    </footer>
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10.0.0/+esm'
      mermaid.initialize({theme: "dark"});
    </script>
  </body>
  <!-- Current page: {{ page.url | htmlBaseUrl }}  -->
</html>