---
layout: layouts/base.njk
templateClass: tmpl-page
---

<header>
  {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
  <nav>
    <ul>
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
  <hgroup>
    <h2>{{ title }}</h2>
    <h1>Hi! I'm Mr. Dave.</h1>
  </hgroup>
</header>
<main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
  {{ content | safe }}
  <hr>
    <ul>
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}
        <li>Next:
          <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
        </li>
      {% endif %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <li>Previous:
          <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
        </li>
      {% endif %}
    </main>
  </ul>